.count {
  position: absolute;
  top: 50px;
  right: 94px;
  width: 20px;
  text-align: center;
  height: 20px;
  background-color: #FF4747;
  border-radius: 50%;
  color: #E8E9EA;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobileNavbar {
  position: absolute;
  top: 15px;
  right: -10px;
  width: 18px;
  text-align: center;
  height: 18px;
  background-color: #FF4747;
  border-radius: 50%;
  color: #E8E9EA;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

